################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/enc_temp_folder
*.tmp
*.temp
*.TMP
*.TEMP
/build
/.cache

profiler_dump.json
=======
xifw.hex
add.bin
add.dci
.gitignore
common/carbon/main.cpp
